@import 'variables';

@import 'reader/main';

html {
    margin: 0px;
    padding: 0px;
    inset: 0px;
    height: 100%;
}

body {
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-size: 34px;
    background-color: #1E1E1E;
    font-family: Impact, sans-serif;
}

p {
    margin: 0px;
}
